width: 284px;
height: 128.4px;
background: transparent;


width: 400px;
height: 55px;
background: #1828bf;
border: 4px solid #000;


width: 1087.47px;
height: 1081px;
background: transparent;
